<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <script type="text/javascript" src="/javascripts/libs.js"></script>
    <script type="text/javascript" src="/javascripts/admin.js"></script>
  </head>
  <body>
    <div class="row login-page-container">
      <div class="col-xs-12 text-center">
        <h3>This is admin page</h3>
      </div>
    </div>
  </body>
</html>
