<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />

    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="col-xs-12">
        <div class="col-xs-4 col-xs-offset-4">
            <span> botstrap init</span>
        </div>
    </div>
  </body>
</html>
