@nav-bg-color: rgba(15, 15, 15, 0.48);
@nav-bkack-line-height: 100px;
@link-color:rgb(117, 98, 62);
//@link-color:rgb(117, 98, 62);

.desk-nav-bar{
  position: absolute;
  top:0;
  padding: 0;
}

.black-line{
  background-color: @nav-bg-color;
  height:@nav-bkack-line-height;
  padding: 0;
}

.round{
  background-color: @nav-bg-color;
  height:165px;
  width:320px;
  margin: 0 auto;
  z-index: 988;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 190px;
  -webkit-border-bottom-right-radius: 190px;
  border-bottom-right-radius: 190px;
  -moz-border-radius-bottomleft: 190px;
  -webkit-border-bottom-left-radius: 190px;
  border-bottom-left-radius: 190px;
}

.desk-menu-container{
  position: absolute;
  top: 0px;
  padding: 0;
  height: @nav-bkack-line-height;
  z-index: 999;
}

.plant-container{
  position: absolute;
  background: url("../images/green.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100px;
  top:40px;
  z-index: 997;
}


.nav-container{
  z-index: 998;
  padding: 0;
  position: absolute;
  top:0;
  background: url("../images/logo5.png")no-repeat;
  //background-position:center;
  background-position-x: center;
  background-position-y: 15px;
  min-height: 220px!important;
  -webkit-background-size: 200px;
  -moz-background-size: 200px;
  -o-background-size: 200px;
  background-size: 200px;
}

.light-container{
  position: absolute;
  height:700px;
  //background-color: #2b542c;
  top:@nav-bkack-line-height;
}

#first-lamp{
  height:600px;
  width:100%;
  background: url("../images/left1.png") no-repeat;
  background-position-x: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.first-lamp-on{
  background: url("../images/left1.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:all 1.5s;
  -ms-transition:background 1.5s;
}

.first-lamp-off{
  background: url("../images/left1_grey.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:all 1.5s;
  -ms-transition:background 1.5s;
}

.first-lamp{
  height:600px;
  width:100%;
  background-position-x: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

//вторая лампа

.second-lamp-on{
  background: url("../images/left2.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:background 1.5s;
  -ms-transition:background 1.5s;
}

.second-lamp-off{
  background: url("../images/left2_grey.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:background 1.5s;
  -ms-transition:background 1.5s;
}

.second-lamp{
  height:600px;
  width:90%;
  background-position-x: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

//третья лампа

.third-lamp-on{
  background: url("../images/left3.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:background 1.5s;
  -ms-transition:background 1.5s;
}

.third-lamp-off{
  background: url("../images/left3_grey.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:background 1.5s;
  -ms-transition:background 1.5s;
}

.third-lamp{
  height:600px;
  width:95%;
  background-position-x: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}


//четвертая
.forth-lamp-on{
  background: url("../images/right4.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:background 1.5s;
  -ms-transition:background 1.5s;
}

.forth-lamp-off{
  background: url("../images/right4_grey.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:background 1.5s;
  -ms-transition:background 1.5s;
}

.forth-lamp{
  height:600px;
  width:95%;
  background-position-x: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

//пятая
.fifth-lamp-on{
  background: url("../images/right5.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:background 1.5s;
  -ms-transition:background 1.5s;
}

.fifth-lamp-off{
  background: url("../images/right5_grey.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:background 1.5s;
  -ms-transition:background 1.5s;
}

.fifth-lamp{
  height:600px;
  width:95%;
  background-position-x: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

//шестая

.six-lamp-on{
  background: url("../images/right6.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:background 1.5s;
  -ms-transition:background 1.5s;
}

.six-lamp-off{
  background: url("../images/right6_grey.png") no-repeat;
  transition: background 1.5s;
  -webkit-transition:background 1.5s;
  -moz-transition:background 1.5s;
  -ms-transition:background 1.5s;
}

.six-lamp{
  height:600px;
  width:90%;
  background-position-x: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
//
.lamp{
  margin: 0 auto;
}

.desk-menu-left > li{
  text-align: center;
}

.desk-menu-right{
  text-align: center;
}

.desk-menu{
  padding:0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  //text-align: center;
}

.desk-menu > li{
  display: inline-block;
  vertical-align: baseline;
  line-height: @nav-bkack-line-height;
  margin: 0;
  text-transform: uppercase;
}
//
.desk-menu-container a{
  color: @link-color;
  text-decoration: none;
  cursor: pointer;
  vertical-align: baseline;
  //font-family: ;
  font-size: 1.4em;
  font-family: FuturaLight;
  letter-spacing: 1px;
  z-index: 999;
}
//
//.desk-menu-left{
//  text-align: left;
//}
//
