nav{
  height: 50px;
  width: 100%;
  background: white;
  font-size: 11pt;
  //font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: relative;
  margin: 0;
  z-index: 999 !important;
}

.desk-menu {
  height: 50px;
  margin:0 ;
  //padding: 0;
}

.desk-menu > li{
  display: inline;
  float: left;
}

nav a {
  //color: #fff;
  display: inline-block;
  width: auto;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  //text-shadow: 1px 1px 0px #283744;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "tiempos","Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14pt;
  letter-spacing: 2px;
  color: grey;
}

.mobile-menu a {
  //color: #fff;
  display: inline-block;
  width: auto;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  //text-shadow: 1px 1px 0px #283744;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "tiempos","Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14pt;
  letter-spacing: 2px;
  color: grey;
}



#pull {
  float: right;
  padding-right: 25px;
}

.mobile-menu{
  z-index: 990 !important;
  text-align: center !important;
  position: fixed;
  top: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aquamarine;

}

.phonemenubut-enter-active, .phonemenubut-leave-active {
  transition: top .5s;
}

.phonemenubut-enter, .phonemenubut-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  top: -200px;
}

//menu button style

.cmn-toggle-switch {
  display: block;
  right: 0px;
  float: right;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 23px;
  left: 4px;
  right: 18px;
  height: 4px;
  width: 42px;
  background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -17px;
}

.cmn-toggle-switch span::after {
  bottom: -17px;
}
//end menu but style