//this style for  sub block

.side-block{
  //width:50%;
  height: 50%;
  float: left;
  display: flex;

}

.sub-block-container{
  margin:auto auto;
  font-family: FuturaLight;
  letter-spacing: 1px;
  color: #3b2b1c;
}
//
.sub-block-container > h3{
  font-family: FuturaFuturisC-Italic !important;
  margin: 5px 0 5px 0;

}

@media screen and (max-width: 1024px) {
  .sub-block-container > h3{
    font-size: 2em;
  }
}

@media screen and (min-width: 1025px) {
  .sub-block-container > h3{
    font-size: 4em;
  }
}


@media screen and (max-width: 1024px) {
  .sub-block-container > h4{
    font-size: 1em;
  }
}

@media screen and (min-width: 1025px) {
  .sub-block-container > h4{
    font-size: 3em;
  }
}

.sub-block-container > h4{
  margin: 5px 0 5px 0;
}

@media screen and (max-width: 1024px) {
  .sub-block-container > span{
    font-size: 1em;
  }
}

@media screen and (min-width: 1025px) {
  .sub-block-container > span{
    font-size: 2em;
  }
}


#first-sub-block{
  //background-color: #a94442;
  background: url("../images/KATERINA.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  #second-sub-block {
    //background-color: #fff;
    -webkit-box-shadow: inset 9px -10px 16px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 9px -10px 16px -7px rgba(0, 0, 0, 0.75);
    box-shadow: inset 9px -10px 16px -7px rgba(0, 0, 0, 0.75);
  }
}

@media screen and (min-width: 1024px) {
  #third-sub-block {
    //background-color: #fff;
    -webkit-box-shadow: inset -10px 11px 16px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -10px 11px 16px -7px rgba(0,0,0,0.75);
    box-shadow: inset -10px 11px 16px -7px rgba(0,0,0,0.75);
    text-align: right;
  }
}
#third-sub-block{
  //background-color: #fff;


}
#foth-sub-block{
  //background-color: #c7254e;
  background: url("../images/VDNH.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //-webkit-box-shadow: -2px 0px 9px 2px rgba(0,0,0,0.65);
  //-moz-box-shadow: -2px 0px 9px 2px rgba(0,0,0,0.65);
  //box-shadow: -2px 0px 9px 2px rgba(0,0,0,0.65);
}



