@link-color:rgb(117, 98, 62);
@latter-color:#83948a;
@circle-radius: 90px;
@circle-radius-min: 80px;

.third-section{
  height:100% !important;
  padding: 0!important;
  background: url("../images/background.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}

.third-section > div > div > div{
  height: 100%;
}

.top-invite, .top-invite-sm{
  height:75%;
  padding: 2% 0 0 0;
}

.top-invite-sm > div:nth-child(1){
  height:40%;

}

.top-invite-sm > div:nth-child(2){
  height:60%;
}

.sm-photo-container >div{
  height:100%;
}

.bottom-invite{
  padding: 2% 0 0 0;
  height: 25%;
  position: relative;
  width: 100%;
  //padding: 0 !important;

}

.invite-text-content-sm > h3{
  font-family: FuturaLight;
  color: @link-color;
  text-align: center !important;
  letter-spacing: 1px;
  font-size: 3em;
  margin: 10px;
}

.latter-list > h3{
  font-family: DrawPen;
  color: black;
  text-align: center !important;
  letter-spacing: 1px;
  font-size: 2.5em;
  margin-top: 8%;
  margin-bottom: 1%;

}

.invite-text-content-sm{
  padding: 0 !important;
}

//приглашение письмо
.invite-text-content{
  padding: 0;
  position:relative;
}

.latter-bootom{
  z-index: 990;
  position: absolute;
  bottom: 0;
  height: 55%;
  background: url("../images/letter.png") ;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;

}

.latter-bootom-back{
  z-index: 989;
  background-color: @latter-color;
}


.latter-top-open{
  position: absolute;
  //height:30%;
  width: 100%;
  bottom: 55%;
  height: 45%;

  background: url("../images/letter-top.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.latter-list{
  position: absolute;
  left:1%;
  width:98%;
  height: 50%;
  background-color: white;
}

.latter-list-close{
  z-index: 990;
  bottom:0;
  transition: bottom 1.5s;
}

.latter-list-open{
  z-index: 990;
  bottom:50%;
  transition: bottom 1.5s;
}



.latter-top-close{
  z-index: 999;
  position: absolute;
  width: 100%;
  bottom: 10%;
  height: 45%;
  background: url("../images/letter-top.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


.bottom-triangle{
  position: absolute;
  height:40%;
  width:100%;
  bottom: 0;
  z-index: 995;
  background-color: #8a6d3b;
}

.latter-list p{
  text-indent: 1.5em;
  color: black;
  text-align: justify !important;
  font-family: DrawPen;
  letter-spacing: 1px;
  word-wrap: break-word;
  font-size: 1.6em;
  margin: 0;
  padding: 1% 5% 0 5%;
}

.invite-text-content-sm p{
  text-indent: 1.5em;
  color: white;
  text-align: justify !important;
  font-family: FuturaLight;
  letter-spacing: 1px;
  word-wrap: break-word;
  //height: 100% !important;
  font-size: 1.8em;
  margin: 5px;
}


.alex-photo{
  height: 95%;
  background: url("../images/alex.png") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  -moz-transform: rotate(5deg); /* Для Firefox */
  -ms-transform: rotate(5deg); /* Для IE */
  -webkit-transform: rotate(5deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(5deg); /* Для Opera */
  transform: rotate(5deg);
}

.art-photo{
  //background-color: darkred;
  height: 95%;
  background: url("../images/art.png") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  -moz-transform: rotate(355deg); /* Для Firefox */
  -ms-transform: rotate(35
  5deg); /* Для IE */
  -webkit-transform: rotate(355deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(355deg); /* Для Opera */
  transform: rotate(355deg);
  //padding: 50px 0 0 50px;

}

.bottom-invite > span{
  color: white;
  font-size: 2em;
  font-family: FuturaLight;
  text-align: center;

}

.bottom-invite > h3{
  font-family: FuturaLight;
  font-size: 3em;
  text-align: center;
  color: @link-color;
  margin: 0;
}

.colors-rounds{
  margin: 0;
  text-align: center;
  list-style: none;
}



.color-round{
  height: 45px;
  //float: left;
  display: inline-block;
  width: 45px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  //background-color: #3b2b1c;
  margin: 5px;
}

#blue{
  background-color: #0d2f3a;
}

#grey{
  background-color: #5d6d64;
}

#lightgrey{
  background-color: #83948a;
}

#white{
  background-color: #eed9c5;
}

#pink{
  background-color: #ffbbaa;
}

.top-invite > .photo-container{
  padding:5% 5% 5% 5%;
  height: 100%;
}

.mobile-invite-body{
  //padding: 2px;
}

.mobile-invite-body > h3{
  color: @link-color;
  text-align: center;
  font-size: 38px;
  letter-spacing: 2px;
  margin: 0 0 5% 0;
  font-family: FuturaLight;

}

.mobile-invite-body > h4{
  color: @link-color;
  font-size: 28px;
  text-align: center;
  margin:  2% 0 2% 0 ;
  padding: 0;
  font-family: FuturaLight;
}

.mobile-invite-body p{
  color: white;
  text-align: justify;
  word-wrap: break-word;
  font-size: 22px;
  word-break: normal;
  margin: 0px 0 0 0;
  text-indent: 1.1em;
  //padding: 0;
  font-family: FuturaLight;
}

.mobile-photo-cont{
  //background-color: #ff93e5;
  //height:@circle-radius!important;
  text-align: center;
}

@media screen and (max-height: 500px) {
  .mobile-photo-cont{
    margin: 1% 0 1% 0;
  }
}

@media screen and (min-height: 501px) {
  .mobile-photo-cont{
    margin: 5% 0 5% 0;
  }
}


.mobile-photo-cont > ul{
  height:100%;
  list-style: none;
  text-align: center;
  margin: 0;
}

.mobile-photo-cont > ul > li{
  display: inline-block;
  height:@circle-radius!important;
  width: @circle-radius;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  margin: 0 5% 0 5%;
}

@media screen and (max-height: 500px) {
  .mobile-photo-cont > ul > li{
    height:@circle-radius-min!important;
    width: @circle-radius-min;
  }
}

@media screen and (min-height: 501px) {
  .mobile-photo-cont > ul > li{
    height:@circle-radius!important;
    width: @circle-radius;
  }
}

#art-img{
  background: url("../images/art-mob.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

#shu-img{
  background: url("../images/alex-mob.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.mob-colors {
  list-style: none;
  text-align: center;
  padding: 0;
  line-height: 60px;
  margin:0;
}

@media screen and (max-height: 500px) {
  .mob-colors > li{
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-height: 501px) {
  .mob-colors > li{
    height: 50px;
    width: 50px;
  }
}


.mob-colors > li{
  display: inline-block;

  background-color: #4cae4c;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;

}

.mob-colors > li:active{
  height: 60px;
  width: 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer{
  //padding:0;
}

.footer p{
  //color: white;
  text-align: center;
  word-wrap: break-word;
  text-indent: 0 !important;
  margin: 0 0 0 0 !important;
  font-family: FuturaLight;
  font-size: 22px;

}