<div class="section fp-auto-height col-sm-12 timing-section">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="col-sm-3 timing-event">
            <div class="timing-event-img" id="wedd-ev">

            </div>
            <h1>11:20</h1>
            <h3>Роспись в ЗАГСе ВДНХ</h3>
        </div>
        <div class="col-sm-3 timing-event">
            <div class="timing-event-img" id="photo-ev">

            </div>
            <h1>12:30</h1>
            <h3>Фото на ВДНХ после росписи</h3>
        </div>
        <div class="col-sm-3 timing-event">
            <div class="timing-event-img" id="furshet-ev">

            </div>
            <h1>17:30</h1>
            <h3>Время прибытия в ресторан. Фуршет</h3>
        </div>
        <div class="col-sm-3 timing-event">
            <div class="timing-event-img" id="banket-ev">

            </div>
            <h1>18:00</h1>
            <h3>Начало банкета</h3>
        </div>
    </div>
</div>
