<div class="section first-section-container col-xs-12">

    <nav class="col-md-12 col-lg-12 desk-nav-bar hidden-xs hidden-sm">
        <div class="black-line col-md-12 col-lg-12"> </div>
        <div class="plant-container col-md-12 col-lg-12"></div>
        <div class="black-round col-md-12 col-lg-12">
            <div class="round"> </div>
        </div>
        <div class="nav-container col-md-12"></div>
        <div class="desk-menu-container col-md-12">
            <ul class="desk-menu col-md-5 col-lg-5 desk-menu-left " >
                <li class="col-md-6"><a href="#secondPage">О церемонии</a></li>
                <li class="col-md-6"><a href="#thirdSection">Приглашение</a></li>
            </ul>
            <ul class="desk-menu col-md-5 col-lg-5 col-lg-offset-2  col-md-offset-2 desk-menu-right" >
                <li class="col-md-6"><a href="#secondPage">Наш инстаграм</a></li>
                <li class="col-md-6"><a href="#mapSection">Схема проезда</a></li>
            </ul>
        </div>
    </nav>

    <mob-navbar></mob-navbar>

    <div class="light-container col-xs-12 hidden-sm hidden-xs">
        <div class="col-md-5">
            <div class="col-lg-4 col-md-6">
                <div v-bind:class="[lampFirstOn ? 'first-lamp-on' : 'first-lamp-off']"   class="lamp first-lamp">

                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div v-bind:class="[lampSecondOn ? 'second-lamp-on' : 'second-lamp-off']"   class="lamp second-lamp">

                </div>
            </div>
            <div class="col-lg-4 hidden-md">
                <div v-bind:class="[lampSecondOn ? 'third-lamp-on' : 'third-lamp-off']"   class="lamp third-lamp">

                </div>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-2 ">
            <div class="col-lg-4 hidden-md" >
                <div v-bind:class="[lampForthOn ? 'forth-lamp-on' : 'forth-lamp-off']"   class="lamp forth-lamp">

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div v-bind:class="[lampFifthOn ? 'fifth-lamp-on' : 'fifth-lamp-off']"   class="lamp fifth-lamp">

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div v-bind:class="[lampSixOn ? 'six-lamp-on' : 'six-lamp-off']"   class="lamp six-lamp">

                </div>
            </div>
        </div>
    </div>


    <div class="main-page-container col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-12 col-md-offset-0">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg mobile-plant">

        </div>
    </div>
    <div class="col-xs-12 hidden-xs hidden-md hidden-lg mobile-plant-small">

    </div>
</div>

