<div class="section first-section-container col-xs-12">

    <nav class="col-md-12 col-lg-12 desk-nav-bar hidden-xs hidden-sm">
        <div class="black-line col-md-12 col-lg-12"> </div>
        <div class="plant-container col-md-12 col-lg-12"></div>
        <div class="black-round col-md-12 col-lg-12">
            <div class="round"> </div>
        </div>
        <div class="nav-container col-md-12"></div>
        <div class="desk-menu-container col-md-12">
            <ul class="desk-menu col-md-5 col-lg-5 desk-menu-left " >
                <li class="col-md-6"><a href="#secondPage">О церемонии</a></li>
                <li class="col-md-6"><a href="#thirdSection">Приглашение</a></li>
            </ul>
            <ul class="desk-menu col-md-5 col-lg-5 col-lg-offset-2  col-md-offset-2 desk-menu-right" >
                <li class="col-md-6"><a href="#secondPage">Наш инстаграм</a></li>
                <li class="col-md-6"><a href="#thirdSection">Схема проезда</a></li>
            </ul>
        </div>
    </nav>

    <mob-navbar></mob-navbar>

    <div class="light-container col-xs-12 hidden-sm hidden-xs">
        <div class="col-md-5">
            <div class="col-lg-4 col-md-6">
                <div id="first-lamp" class="lamp">

                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div id="second-lamp" class="lamp">

                </div>
            </div>
            <div class="col-lg-4 hidden-md">
                <div id="third-lamp" class="lamp">

                </div>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-2 ">
            <div class="col-lg-4 hidden-md" >
                <div id="forth-lamp" class="lamp">

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div id="fifth-lamp" class="lamp">

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div id="six-lamp" class="lamp">

                </div>
            </div>
        </div>
    </div>


    <div class="main-page-container col-xs-12">
        <!--<h5>свадьба</h5>-->
        <!--<h3>Артем и Александра</h3>-->
        <!--<h5>2 июня 2017</h5>-->
    </div>
</div>

