<div class="col-xs-12 col-md-12 section map-section-container">
    <!--<iframe class="col-xs-12 col-sm-6" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae77900346ced1b894f15d76d11f0b0f0dd097ed2d24e9bb53607749e5ff7e487&amp;source=constructor" height="50%" frameborder="0"></iframe>-->
    <h1 class="col-xs-12">
        Контакты и схема
    </h1>
    <iframe class="map-container col-xs-12 col-md-10 col-md-offset-1" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae77900346ced1b894f15d76d11f0b0f0dd097ed2d24e9bb53607749e5ff7e487&amp;source=constructor" frameborder="0">

    </iframe>
    <div class="col-xs-12 col-md-10 col-md-offset-1 contact-text">
        <span class="col-xs-6"> Артем </span>
        <span class="col-xs-6"> Александра </span>
        <span class="col-xs-6"> +7(964)582-82-07</span>
        <span class="col-xs-6"> +7(963)663-61-85</span>
    </div>
</div>