<div class="section col-xs-12 mobile-timing-container">
    <div class="time-eventcontainer">
        <div class="event-img">
            <div v-bind:class="[showIcons1 ? 'img-container-open' : 'img-container-close-left']" class="img-container" id="mob-wedd-ev">

            </div>
        </div>
        <div class="event-time" >
            <h1 v-bind:class="[showIcons1 ? 'img-container-open-right' : 'img-container-close-left']">
                11:20
            </h1>
        </div>
        <h3 class="col-xs-12"> Роспись в ЗАГСе ВДНХ </h3>
    </div>
    <div class="time-eventcontainer">
        <div class="event-img">
            <div v-bind:class="[showIcons2 ? 'img-container-open' : 'img-container-close-left']" class="img-container" id="mob-photo-ev">

            </div>
        </div>
        <div class="event-time">
            <h1 v-bind:class="[showIcons2 ? 'img-container-open-right' : 'img-container-close-left']" >
                12:30
            </h1>
        </div>
        <h3 class="col-xs-12"> Фото на ВДНХ после росписи </h3>
    </div>
    <div class="time-eventcontainer">
        <div class="event-img">
            <div v-bind:class="[showIcons3 ? 'img-container-open' : 'img-container-close-left']" class="img-container" id="mob-furshet-ev">

            </div>
        </div>
        <div class="event-time">
            <h1 v-bind:class="[showIcons3 ? 'img-container-open-right' : 'img-container-close-left']">
                17:30
            </h1>
        </div>
        <h3 class="col-xs-12"> Время прибытия в ресторан. Фуршет </h3>
    </div>
    <div class="time-eventcontainer">
        <div class="event-img">
            <div v-bind:class="[showIcons4 ? 'img-container-open' : 'img-container-close-left']" class="img-container" id="mob-banket-ev">

            </div>
        </div>
        <div class="event-time">
            <h1  v-bind:class="[showIcons4 ? 'img-container-open-right' : 'img-container-close-left']">
                18:00
            </h1>
        </div>
        <h3 class="col-xs-12"> Начало банкета </h3>
    </div>
</div>