<div class="section col-xs-12 mobile-timing-container">
    <div class="time-eventcontainer">
        <div class="event-img">
            <div class="img-container" id="mob-wedd-ev">

            </div>
        </div>
        <div class="event-time">
            <h1>
                11:20
            </h1>
        </div>
        <h3 class="col-xs-12"> Роспись в ЗАГСе ВДНХ </h3>
    </div>
    <div class="time-eventcontainer">
        <div class="event-img">
            <div class="img-container" id="mob-photo-ev">

            </div>
        </div>
        <div class="event-time">
            <h1>
                12:30
            </h1>
        </div>
        <h3 class="col-xs-12"> Фото на ВДНХ после росписи </h3>
    </div>
    <div class="time-eventcontainer">
        <div class="event-img">
            <div class="img-container" id="mob-furshet-ev">

            </div>
        </div>
        <div class="event-time">
            <h1>
                17:30
            </h1>
        </div>
        <h3 class="col-xs-12"> Время прибытия в ресторан. Фуршет </h3>
    </div>
    <div class="time-eventcontainer">
        <div class="event-img">
            <div class="img-container" id="mob-banket-ev">

            </div>
        </div>
        <div class="event-time">
            <h1>
                18:00
            </h1>
        </div>
        <h3 class="col-xs-12"> Начало банкета </h3>
    </div>
</div>