<div class="firs-Slide-container">
    <!--<nav>!!!!</nav>-->
    <nav class="clearfix">
        <ul class="desk-menu desk-menu-left hidden-xs hidden-sm" >
            <li><a href="#secondPage" v-on:click="chooseItem">О церемонии</a></li>
            <li><a href="#thirdSection" v-on:click="chooseItem">Приглашение</a></li>
        </ul>
        <a class="hidden-xs hidden-sm logo-container" href="#firstPage"></a>

        <ul class="desk-menu desk-menu-right hidden-xs hidden-sm">
            <li><a v-on:click="chooseItem">Место проведения</a></li>
            <li><a href="#ourInstagram" v-on:click="chooseItem">Наш инстаграм</a></li>
        </ul>


        <!--<a class="hidden-md hidden-lg" href="#" id="pull" v-on:click="showMenu">Menu</a>-->
        <button class="hidden-md hidden-lg cmn-toggle-switch cmn-toggle-switch__rot" v-on:click="showMenu">
            <span>toggle menu</span>
        </button>
    </nav>
    <transition name="phonemenubut">
        <ul v-if="openMenu" class="mobile-menu hidden-lg hidden-md col-xs-12 col-sm-12" >
            <li><a href="#firstPage" v-on:click="chooseItem">Логотип</a></li>
            <li><a href="#secondPage" v-on:click="chooseItem">О церемонии</a></li>
            <li><a v-on:click="chooseItem">Приглашение</a></li>
            <li><a v-on:click="chooseItem">Место проведения</a></li>

        </ul>
    </transition>
</div>
