<div class="section">
    <div class="section-container section-container-desc hidden-xs">
        <div id="first-sub-block" class="side-block col-lg-6 col-md-6 col-sm-6">

        </div>
        <div id="second-sub-block" class="side-block col-lg-6 col-md-6 col-sm-6">
            <div class="sub-block-container col-xs-12">
                <h3 class="col-xs-12">Регистрация</h3>
                <span class="col-xs-12">Суббота / 2 июня 2018 / 11.30</span>
                <span class="col-xs-12">Дворец бракосочетания ВДНХ</span>
                <span class="col-xs-12">Москва, проспект Мира, домовладение 119, ВДНХ</span>
            </div>
        </div>
        <div id="third-sub-block" class="side-block col-lg-6 col-md-6 col-sm-6">
            <div class="sub-block-container col-xs-12">
                <h3 class="col-xs-12">Банкет</h3>
                <span class="col-xs-12">Суббота / 2 июня 2018 / 17.30</span>
                <span class="col-xs-12">Отель Katerina City</span>
                <span class="col-xs-12">Шлюзовая набережная, 6 115 114 Москва</span>
            </div>
        </div>
        <div id="foth-sub-block" class="side-block col-lg-6 col-md-6 col-sm-6"></div>

    </div>
    <div class="section-container section-container-mobile hidden-md hidden-sm hidden-lg">
        <div class=" col-xs-12">
            <h3 class="col-xs-12">Регистрация</h3>
            <span class="col-xs-12">Суббота / 2 июня 2018 / 11.30</span>
            <span class="col-xs-12">Дворец бракосочетания ВДНХ</span>
            <span class="col-xs-12">Москва, проспект Мира, домовладение 119, ВДНХ</span>
        </div>
        <div class="sub-block-container col-xs-12">
            <h3 class="col-xs-12">Банкет</h3>
            <span class="col-xs-12">Суббота / 2 июня 2018 / 17.30</span>
            <span class="col-xs-12">Отель Katerina City</span>
            <span class="col-xs-12">Шлюзовая набережная, 6 115 114 Москва</span>
        </div>
    </div>
</div>