<div class="section">
    <div class="section-container section-container-desc ">
        <div id="first-sub-block" class="hidden-xs side-block col-lg-6 col-md-6 col-sm-6">

        </div>
        <div id="second-sub-block" class="side-block col-xs-12 col-lg-6 col-md-6 col-sm-6">
            <div class="sub-block-container col-xs-12">
                <h3 class="col-xs-12">Регистрация брака</h3>
                <h4 class="col-xs-12"> Дворец бракосочетания ВДНХ начало в 11:20</h4>
                <span class="col-xs-12 hidden-xs">В ЗАГСе&shy; сос&shy;тоит&shy;ся офи&shy;циаль&shy;ная часть на&shy;шей про&shy;грам&shy;мы.</span>
                <span class="col-md-12 hidden-xs">Эта часть не&shy;обя&shy;за&shy;тель&shy;на, но мы бу&shy;дем ра&shy;ды ви&shy;деть Вас.</span>
                <span class="col-md-12 hidden-xs">Ад&shy;рес: Моск&shy;ва, прос&shy;пект Ми&shy;ра, дом 119, строе&shy;ние 421, ВДНХ</span>
                <p class="col-xs-12 hidden-sm hidden-sm hidden-lg">
                    В ЗАГСе&shy; сос&shy;тоит&shy;ся офи&shy;циаль&shy;ная часть на&shy;шей про&shy;грам&shy;мы.
                    Эта часть не&shy;обя&shy;за&shy;тель&shy;на, но мы бу&shy;дем ра&shy;ды ви&shy;деть Вас.
                    Ад&shy;рес: Моск&shy;ва, прос&shy;пект Ми&shy;ра, дом 119, строе&shy;ние 421, ВДНХ
                </p>
            </div>
        </div>
        <div id="third-sub-block" class="side-block col-xs-12 col-lg-6 col-md-6 col-sm-6">
            <div class="sub-block-container col-xs-12">
                <h3 class="col-xs-12">Банкет</h3>
                <h4 class="col-xs-12">Ресторан "Katerina city" начало в 18:00</h4>
                <span class="col-md-12 hidden-xs">Здесь Вас ожи&shy;дает фур&shy;шет, тан&shy;цы и празд&shy;нич&shy;ный стол</span>
                <span class="col-md-12 hidden-xs">Ад&shy;рес: Моск&shy;ва, Шлю&shy;зо&shy;вая на&shy;бе&shy;реж&shy;ная, дом 6</span>
                <p class="col-xs-12 hidden-sm hidden-sm hidden-lg">
                    Здесь Вас ожи&shy;дает фур&shy;шет, тан&shy;цы и празд&shy;нич&shy;ный стол
                    Ад&shy;рес: Моск&shy;ва, Шлю&shy;зо&shy;вая на&shy;бе&shy;реж&shy;ная, дом 6
                </p>
            </div>
        </div>
        <div id="foth-sub-block" class="hidden-xs side-block col-lg-6 col-md-6 col-sm-6"></div>
        <div class="col-xs-12 hidden-lg hidden-sm hidden-md mobile-plant-sep"></div>
    </div>

</div>