<div class="section">
    <div class="section-container section-container-desc ">
        <div id="first-sub-block" class="hidden-xs side-block col-lg-6 col-md-6 col-sm-6">

        </div>
        <div id="second-sub-block" class="side-block col-xs-12 col-lg-6 col-md-6 col-sm-6">
            <div class="sub-block-container col-xs-12">
                <h3 class="col-xs-12">Регистрация брака</h3>
                <h4 class="col-xs-12"> Дворец бракосочетания ВДНХ начало в 11:20</h4>
                <span class="col-xs-12">В ЗАГСе произойдет официальная чатсь нашей программы.</span>
                <span class="col-xs-12">Эта часть необязательно, но мы будем рады видеть Вас.</span>
                <span class="col-xs-12">Адрес: Москва, проспект Мира, дом 119, строение 421, ВДНХ</span>
            </div>
        </div>
        <div id="third-sub-block" class="side-block col-xs-12 col-lg-6 col-md-6 col-sm-6">
            <div class="sub-block-container col-xs-12">
                <h3 class="col-xs-12">Банкет</h3>
                <h4 class="col-xs-12">Ресторан "Katerina city" начало в 18:00</h4>
                <span class="col-xs-12">Здесь Вас ожидает фуршет, тавнцы и праздничный стол</span>
                <span class="col-xs-12">Адрес: Москва, Шлюзовая набережная, дом 6</span>
            </div>
        </div>
        <div id="foth-sub-block" class="hidden-xs side-block col-lg-6 col-md-6 col-sm-6"></div>

    </div>

</div>