<div class="col-xs-12 section third-section">
    <div class="col-xs-12 top-invite">
        <div class="col-xs-4">
            <div class="art-photo">

            </div>
        </div>
        <div class="col-xs-4 invite-text-content">
            <h3>Приглашение</h3>
            <p>
                    2 июня 2018 года в нашей жизни состоится торжественное
                    и знаменательное событие – день нашей свадьбы.                     Мы верим и надеемся, что этот день станет красивым началом
                    долгой и счастливой жизни.
            </p>
            <p>
                    Позвольте пригласить Вас разделить с нами
                    радость этого дня. Подарите свою поддержку и добрые пожелания,
                    а мы в свою очередь поделимся частичкой нашего счастья.
            </p>
        </div>
        <div class="col-xs-4">
            <div class="alex-photo">

            </div>
        </div>
    </div>
    <div class="col-xs-12 bottom-invite">
        <span class="col-xs-12">
            Пожалуйста используйте наш хештег свадьбы
        </span>
        <h3 class="col-xs-12">
            #gama_wed
        </h3>
        <span class="col-xs-12">
            мы будем рады, если вы поддержите цветовую гамму нашей свадьбы
        </span>
        <div class="col-xs-12 colors-rounds">
            <!--<div class="color-round" id="blue"></div>-->
            <!--<div class="color-round" id="grey"></div>-->
            <!--<div class="color-round" id="lightgrey"></div>-->
            <!--<div class="color-round" id="white"></div>-->
            <!--<div class="color-round" id="pink"></div>-->
            <ul class="col-xs-12">
                <li class="color-round" id="blue"></li>
                <li class="color-round" id="grey"></li>
                <li class="color-round" id="lightgrey"></li>
                <li class="color-round" id="white"></li>
                <li class="color-round" id="pink"></li>
            </ul>
        </div>
    </div>
</div>